doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title Cosmos Link
    meta(name='description', content='Link your Cosmos Wallet with your favorite apps')
  body: #omega
    noscript.text-center.italic
      p Sorry, every dApp requires JavaScript. Please enable JavaScript if you wish to link your wallet.
    #app
