doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title Cosmos Link
    meta(name='description', content='Link your Cosmos Wallet with your favorite apps')
  body
    #omega
      h1 Cosmos Link
      noscript
        p Sorry, every dApp requires JavaScript. Please enable JavaScript if you wish to link your wallet.
      p
        | Today, #[b Cosmos Link] allows you to connect your Terra 2 wallet to my #[i (Kiruse's)]
        | apps. This means
